.table-container {
  margin: 20px auto;
  max-width: 1400px;
  width: 100%; /* Ensure container is full-width for alignment */
}

.stock-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

th.mat-header-cell,
td.mat-cell {
  border: 1px solid #ddd;
  padding: 8px;
}

.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
}

.over-capacity {
  background-color: #ffcccc;
}

.under-capacity {
  background-color: #ffcccc; 
}

.search-bar {
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.sort-buttons {
  display: flex;
  gap: 10px;
}

.legend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.over-capacity {
  background-color: #ffffcc;
}

.just-right {
  background-color: #ccffcc;
}

.under-capacity {
  background-color: #ffcccc; 
}