.table-container {
    margin: 20px auto;
    max-width: 50%;
}

.back{
    /* background-color: red; */
    height: 100vh;
}

.search-bar {
    width: 100%;
    margin-bottom: 20px;
}

.sort-buttons {
    margin-bottom: 20px;
}

.inventory-table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

mat-form-field {
    width: 100%;    
}
  