<div class="flex items-center flex-col pt-56 h-screen">
  <div class="h-screen">
    <h1 class="text-4xl text-center font-bold my-10">Welcome to
      <span class="text-5xl text-green-800">Inventory Managment</span>
    </h1>

    <div class="flex flex-col items-center gap-5 justify-center">
      @if(authService.getUserDetail()) {
        <h1 class="text-2xl">
          You are logged in as <span class="font-bold bg-blue-600 rounded-md p-2 text-white">
            {{authService.getUserDetail()?.email}}
          </span>
        </h1>
      } @else {
        <h1 class="text-2xl">You are not logged in</h1>
        <a routerLink="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
          Login
        </a>
      }
    </div>

    <div class="flex items-center justify-center gap-4 mt-10">
      <button *ngIf="isAdmin() || isWarehouseman()" 
              mat-menu-item 
              [routerLink]="['/items']"
              class="custom-button">
        <mat-icon class="custom-icon">inventory</mat-icon>
        <span>Browse Items</span>
      </button>

      <button *ngIf="isAdmin() || isManager()" 
              mat-menu-item 
              [routerLink]="['/inventories']"
              class="custom-button">
        <mat-icon class="custom-icon">storage</mat-icon>
        <span>Manage Inventory</span>
      </button>
    </div>

  </div>
</div>
