<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md p-5 bg-white w-1/2" [formGroup]="form" (ngSubmit)="updateItem()">
      <div class="py-4">
        <h1 class="font-bold py-2">Edit Item</h1>
        <h6 class="text-slate-600 text-base">Edit the details of the item</h6>
      </div>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="naziv" placeholder="Item Name" />
        <mat-icon matPrefix>label</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Weight</mat-label>
        <input matInput type="number" formControlName="weight" placeholder="Weight (kg)" />
        <mat-icon matPrefix>fitness_center</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" placeholder="Type" />
        <mat-icon matPrefix>category</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Price ($)" />
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Max Amount</mat-label>
        <input matInput type="number" formControlName="maxAmount" placeholder="Max Amount" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Min Amount</mat-label>
        <input matInput type="number" formControlName="minAmount" placeholder="Min Amount" />
      </mat-form-field>
  
      <button type="submit" [disabled]="!form.valid"
        class="w-full border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold">
        Update Item
      </button>
    </form>
  </div>
  